@layer content {
  .content h3,
  h4,
  h5,
  h6 {
    position: relative;
    width: max-content;

    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: var(--colors-fg-subtle);
    color: var(--colors-bg);
    border-radius: var(--radii-sm);
  }
}
