@layer content {
  .content {
    & h1,
    h2 {
      background-color: var(--colors-fg);
      color: var(--colors-bg);
    }

    & h1 {
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    & h2 {
      padding: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    & h3,
    h4,
    h5,
    h6 {
      position: relative;

      padding: 0.2rem;
      padding-left: 1rem;
      padding-right: 1rem;

      background-color: var(--colors-fg-subtle);
      color: var(--colors-fg);
    }
  }
}
