@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {
    --font-scale: 8vw;
  }

  * {
    transition: all 0.2s;
  }

  html {
    min-height: 100dvh;
    min-height: -webkit-fill-available;

    background-color: var(--colors-bg);
    color: var(--colors-fg);

    font-family: var(--fonts-ui);
  }

  body {
    min-height: 100dvh;
    height: max-content;
  }

  h1 {
    font-size: var(--font-sizes-heading1);
    font-size: clamp(
      var(--font-sizes-heading1-min),
      var(--font-scale),
      var(--font-sizes-heading1-max)
    );
    font-weight: var(--font-weights-black);
  }

  h2 {
    font-size: var(--font-sizes-heading2);
    font-size: clamp(
      var(--font-sizes-heading2-min),
      var(--font-scale),
      var(--font-sizes-heading2-max)
    );
    font-weight: var(--font-weights-black);
  }

  h3 {
    font-size: var(--font-sizes-heading3);
    font-size: clamp(
      var(--font-sizes-heading3-min),
      var(--font-scale),
      var(--font-sizes-heading3-max)
    );
    font-weight: var(--font-weights-extrabold);
  }

  h4 {
    font-size: var(--font-sizes-heading4);
    font-size: clamp(
      var(--font-sizes-heading4-min),
      var(--font-scale),
      var(--font-sizes-heading4-max)
    );
    font-weight: var(--font-weights-extrabold);
  }

  h5 {
    font-size: var(--font-sizes-heading5);
    font-size: clamp(
      var(--font-sizes-heading5-min),
      var(--font-scale),
      var(--font-sizes-heading5-max)
    );
    font-weight: var(--font-weights-bold);
  }

  h6 {
    font-size: var(--font-sizes-heading6);
    font-size: clamp(
      var(--font-sizes-heading6-min),
      var(--font-scale),
      var(--font-sizes-heading6-max)
    );
    font-weight: var(--font-weights-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--fonts-heading);
    text-wrap: balance;
    /* line-height: var(--line-heights-heading-fluid-sm); */
    line-height: var(--line-heights-tight);
  }

  p {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-sizes-body);
    font-size: clamp(
      var(--font-sizes-body-min),
      4vw,
      var(--font-sizes-body-max)
    );
    font-weight: var(--font-weights-medium);
  }

  .typography {
    font-family: var(--fonts-body);
    margin-bottom: var(--spacing-2);
  }

  a {
    color: var(--colors-link);
  }

  a:hover {
    color: var(--colors-link-hover);
    text-decoration: underline;
  }

  .typography a {
    font-weight: var(--font-weights-bold);
  }

  ul {
    margin-left: 1rem;
    list-style-type: square;
  }

  /* BLOCK ELEMENTS */

  small {
    font-size: var(--font-size);
    font-size: clamp(100%, calc(var(--font-size) / 4) + 4vw, var(--font-size));
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: circle;
  }

  li {
    margin-left: var(--spacing-4);
  }

  blockquote {
    background: var(--colors-bg-muted);
    border-left: var(--spacing-2) solid var(--colors-fg-muted);
    margin: var(--spacing-4) 0;
    padding: var(--spacing-2);
    border-radius: var(--radii-lg);
    width: 100%;
  }
  blockquote p {
    display: inline;
  }

  pre {
    font-family: monospace;
    overflow-x: scroll;
    width: 100%;
    background-color: var(--colors-bg-muted);
    border-radius: var(--radii-lg);
    padding: var(--spacing-2);
  }

  aside p {
    color: var(--colors-fg);
    font-weight: var(--font-weights-semibold);
  }

  time {
    color: var(--colors-fg-muted);
  }

  /* LEAF ELEMENTS */

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }

  u {
    font-size: larger;
    text-decoration: underline;
  }

  :not(pre) > code {
    font-family: monospace;
    border-radius: var(--radii-sm);
    padding: var(--spacing-1);
    padding-left: var(--spacing-2);
    padding-right: var(--spacing-2);
    background-color: var(--colors-bg-muted);
    word-break: keep-all;
    text-wrap: pretty;
  }

  hr {
    border-color: var(--colors-fg-muted);
    margin-top: var(--spacing-4);
    width: 100%;
  }
}
